<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navbar.css" type="text/css">
    <link rel="stylesheet" href="../static/herosection.css" type="text/css">
    <link rel="shortcut icon" href="../static/icons/favicon.png" />
    <title>Home</title>
</head>
<body>
    
      <header class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Share your regrets</h1>
            <p class="hero-subtitle">A brief description of your mistake can save others a lot of time</p>
            <a href="/login" class="hero-button">Login</a>
        </div>
    </header>
</body>
</html>