<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="../static/main.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="section-hero">
        <!-- 1.  Now we need to make our hero section display grid and need to center the content in the page.
        
            2. To acheive that we need to create a div container inside of our section that contains all the text and img -->

            <div class="hero">
                
                <div class="hero-text-box">
                
                    <h1 class="heading-primary">
                        Share your life's lessons, delivered fresh daily. 
                    </h1>
                
                    <p class="hero-description">
                        Submit your mistakes or regrets, and join a community of reflection and growth
                    </p>
                
                    <a href="#" class="btn btn--fill margin-right-btn"
                        >Share your first story
                    </a>
                
                    <a href="#" class="btn btn--outline margin-right-btn"
                        >See posts &darr;
                    </a>
                </div>
                <div class="hero-img-box">
                
                    <img
                        src="https://wallpapercave.com/uwp/uwp3629143.jpeg"
                        alt="Woman enjoying food, meals in storage container, and food bowls on a table"
                        class="hero-img"
                    />
                </div>
                
                <div class="delivered-meals">
                    
                    <div class="delivered-imgs">
                        <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-1.jpg" alt="Customer photo" />
                        <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-2.jpg" alt="Customer photo" />
                        <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-3.jpg" alt="Customer photo" />
                        <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-4.jpg" alt="Customer photo" />
                        <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-5.jpg" alt="Customer photo" />
                        <img src="https://prayagtandon.github.io/Omnifood-Project/Hero-section/img/customers/customer-6.jpg" alt="Customer photo" />
                    </div>
                    
                    <p class="delivered-text">
                        <span>250,000+</span> people share their regrets
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>